<h1>pubmat02</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pubmat02-entry></pubmat02-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pubmat02-codition></pubmat02-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pubmat02-query></pubmat02-query>
    </p-tabPanel>

</p-tabView>