<p-dataTable [value]="VCHCONFG">
    <p-column field="VCH_TY" header="單別"></p-column>
    <p-column field="VCH_NM" header="單據名稱"></p-column>
    <p-column field="EXCH_TY" header="異動類別"></p-column>
    <p-column field="ATTR" header="屬性"></p-column>
    <p-column field="IO" header="入出別"></p-column>
    <p-column field="CODE_TY" header="編碼方式"></p-column>
    <p-column field="CODE_LEN" header="編碼長度"></p-column>
    <p-column field="CLS_DT" header="關帳日期"></p-column>
    <p-column field="PRG_NO" header="程式代碼"></p-column>
</p-dataTable>