<table>
    <tr>
        <th>庫存年月</th>
        <td>
            <input type="text" ng-model="model.CURR_YM" numbersonly erp-char-width-input-display="[6,18]">
        </td>
        <th>庫存關帳</th>
        <td>
            <input type="text" ng-model="model.CLS_DT" data-date-format="yyyy/MM/dd" data-autoclose="1" placeholder="Date" bs-datepicker erp-char-width-input-display="[10,18]">
        </td>
        <th>基本幣別</th>
        <td>
            <input type="text" ng-model="model.CURRENCY" erp-char-width-input-display="[4,18]">
        </td>
        <th>發票聯數</th>
        <td>
            <input type="text" ng-model="model.IVC_PAGE" numbersonly erp-char-width-input-display="[1,18]">
        </td>
    </tr>
    <tr>
        <th>課稅別</th>
        <td>
            <select ng-model="model.TAX_TY" ng-options="item.Value as item.Display3 for item in modeldddw.DDDW_TAX_TY" erp-char-width-input-display="[1,10]">
                <option value=""></option>
            </select><input type="text" ng-model="model.TAX_RT" decimals="2" decimal-point="." erp-char-width-input-display="[18,6]">
        </td>
        <th>會計年度</th>
        <td>
            <input type="text" ng-model="model.ACT_CURR_YY" numbersonly erp-char-width-input-display="[4,18]">
        </td>
        <th>會計關帳</th>
        <td colspan="3">
            <input type="text" ng-model="model.ACT_CLS_DT" data-date-format="yyyy/MM/dd" data-autoclose="1" placeholder="Date" bs-datepicker erp-char-width-input-display="[10,18]">
        </td>
    </tr>
    <tr>
        <th>上期損益</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.PR_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>進項稅額</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.IN_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>銷項稅額</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.OT_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>應付帳款</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.AP_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
    </tr>
    <tr>
        <th>應付票據</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.NP_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>應收帳款</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.AR_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>應收票據</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.NR_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>應收折讓(收款)</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.DS_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
    </tr>
    <tr>
        <th>應收折讓(發票)</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.DR_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>暫估差額</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.EAR_DIFF_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>薪轉開票</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.SLY_NP_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>薪轉現金</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.SLY_CASH_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
    </tr>
    <tr>
        <th>收款種類</th>
        <td>
            <select ng-model="model.RAR_TY" ng-options="item.Value as item.Display3 for item in modeldddw.DDDW_RAR_TY" erp-char-width-input-display="[1,18]">
                <option value=""></option>
            </select>
        </td>
        <th>收款科目</th>
        <td>
            <input dddwinput dddw-name="DDDW_ACTNO" ng-model="model.R_ACT_NO" erp-char-width-input-display="[20,6]" dddw-char-width-label="8">
        </td>
        <th>收款立沖帳目</th>
        <td>
            <input type="text" ng-model="model.R_BCH_NO" erp-char-width-input-display="[24,18]">
        </td>
        <th>收款銀行</th>
        <td>
            <input type="text" ng-model="model.R_BANK_NO" erp-char-width-input-display="[10,18]">
        </td>
    </tr>
</table>