<div id="side-menu" class="col-sm-2 hidden-xs" data-spy="affix" data-offset-top="0">
    <div class="profile-block">
        <img src="../../../../../assets/img/jon.png" class="img-circle">
        <h4 class="profile-title">Super<small>@super</small></h4>
    </div>

    <ul class="nav nav-pills nav-stacked">
        <li>


            <a href="#system-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="system-opts">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                系統設定
                <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="system-opts">
                <li>
                    <a  [routerLink]="['/PUBMAT01']" class="transition">
                        系統代號維護
                    </a>
                </li>
                <li>
                    <a href="SYS999" class="transition">
                        SYS999 Router Test
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="audience.html" class="transition">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                觀眾
            </a>

        </li>
        <li>
            <a href="#finances-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="finances-opts">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                公用系統
                <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="finances-opts">
                <li>
                    <a href="PUB001" class="transition">
                        屬性設定一
                    </a>
                </li>
                <li>
                    <a href="PUB002" class="transition">
                        屬性設定二
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="transition">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                即時資訊
                <span class="badge pull-right">12</span>
            </a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="#projects-opts" class="transition" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="projects-opts">
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                專案
                <span class="glyphicon glyphicon-menu-left pull-right transition" aria-hidden="true"></span>
            </a>
            <ul class="collapse list-unstyled" id="projects-opts">
                <li>
                    <a href="#" class="transition">
                        免費配給國
                    </a>
                </li>
                <li>
                    <a href="#" class="transition">
                        貓咪大抓狂
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>