<table>
    <tr>
        <td>單別</td>
        <td>
            <input type="text" ng-model="condition.VCH_TY" erp-char-width-input-display="[4,5]"><select ng-model="condition.VCH_TY" ng-options="item.Value as item.Display for item in modeldddw.DDDW_VCH_TY_ALL" erp-char-width-input-display="[4,14]">
                <option value=""></option>
            </select>
        </td>

        <td>單據名稱</td>
        <td>
            <input type="text" ng-model="condition.VCH_NM" erp-char-width-input-display="[20,20]">
        </td>
    </tr>
</table>