<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<ss-header></ss-header>


<div class="container-fluid">
    <div class="row">
        <ss-nav></ss-nav>
        <div id="main" class="col-sm-offset-2 col-sm-10"><router-outlet></router-outlet></div>
    </div>
</div>

<ss-footer></ss-footer>
