<h1>pubmat05</h1>


<command-button [menuType]="scope.menuType"></command-button>

<p-tabView>
    <!--<p-tabPanel *ngFor="let tab of items" [header]="tab.label">
        {{tab.label}}
    </p-tabPanel>-->
    <p-tabPanel header="資料維護" style=" background-color:aqua;">
        <div >
            <pubmat05-entry></pubmat05-entry>
        </div>
        <!--<ng-container *ngComponentOutlet="EntryComponet"></ng-container>-->
    </p-tabPanel>
    <p-tabPanel header="查詢條件">
        <pubmat05-codition></pubmat05-codition>
    </p-tabPanel>
    <p-tabPanel header="查詢輸出">
        <pubmat05-query></pubmat05-query>
    </p-tabPanel>

</p-tabView>